@tailwind base;
@tailwind components;
@tailwind utilities;


/* // #FF6600 orange
//#F5F5F5 background
//#604CC3 bluesh
//#8FD14F greenash */
body {
    background-color: #F5F5F5 ;

    color: gray;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Active {
    border: 2px solid #8FD14F;

}

.banner {
    background-image: url('assets/images/banner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.9;
}